body {
  margin: 0;
}
 
label {
  width: 200px;
  display: block;
}
 
input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}
 
.Navbar {
  height: 7vh;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
justify-content: left;
align-items: end;
}

.Navbar button {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  background-color: greenyellow;
}

.navbar-user {
margin-left: 65vw ;
}

.navbar-user button {
  margin-left: 2vh;
}

.navbar-login {
  margin-left: 80vw ;
  }

 .overview {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: flex-start;
  margin: 20px;
 }


.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: lightgrey;
  border-radius: 4px;
}
 
.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}
 
.EditProjectPage,
.AddProject,
.AddTask,
.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}
 
.EditProjectPage {
  background-color: rgb(239, 196, 88);
}
 
.SignupPage,
.LoginPage {
  background-color: #608dd5;
}
 
.LoginPage {
  background-color: #94a7c8;
}
 
.EditProjectPage form,
.AddTask form,
.AddProject form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.AddTask button,
.AddProject button {
  display: block;
}
 
.TaskCard {
  background-color: #dfeef9;
}