body {
  margin: 0;
}
 
label {
  width: 200px;
  display: block;
}
 
input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}
 
.Navbar {
  height: 7vh;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
justify-content: left;
align-items: end;
}

.Navbar button {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  background-color: greenyellow;
}

.navbar-user {
margin-left: 65vw ;
}

.navbar-user button {
  margin-left: 2vh;
}

.navbar-login {
  margin-left: 80vw ;
  }

 .overview {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: flex-start;
  margin: 20px;
 }


.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: lightgrey;
  border-radius: 4px;
}
 
.treasure-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px; 
  margin: 20px auto 20px auto;
  padding-top: 3vh;
  border: 1px solid grey;
  border-radius: 5px;
  position: relative;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: lightgrey;
} */
 
.details-icon {
  display: flex;
	flex-direction: row;  
  justify-content: center;
  align-items: center;
}

.img-edit {
  color: #000000;
  margin-left: 24vw;
}

.img-edit:hover {
  color: #ff0000; 
  position: relative; 
}

.img-edit:hover::before {
  content: "Edit"; 
  position: absolute;
  top: -40px; 
  left: -20%; 
  background-color: darkgrey; /* background color of the text */
  color: #ffffff; /* color of the text */
  padding: 5px; /* add some padding to the text */
  border-radius: 5px; /* add rounded corners to the text */
}

.img-delete {
  color: #000000; /* default color */
}

.img-delete:hover {
  color: #ff0000; /* color when hovered */
  position: relative; /* make the pseudo-element relative to the icon */
}

.img-delete:hover::before {
  content: "Delete"; /* text to be displayed */
  position: absolute; /* position the text within the icon */
  top: -40px; /* adjust the distance from the icon */
  left: 10%; /* center the text horizontally */
  background-color: red; /* background color of the text */
  color: #ffffff; /* color of the text */
  padding: 5px; /* add some padding to the text */
  border-radius: 5px; /* add rounded corners to the text */
}

 
.SignupPage,
.LoginPage {
  background: white;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 10vh auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}
 

 

.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px auto 20px auto;
  width: 300px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightgrey;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px auto 20px auto;
  width: 300px;
}

.item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  
}

.item-edit {
  color: #000000;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1px;
}

.form-group input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 13px;
  
}


.login-button {
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 7px auto 40px auto;
  width: 224px;
}

.form-button {
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 120px
}

.delete-button {
  padding: 10px 0;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto 0 auto;
  width: 120px
}

.again-button {
  padding: 10px 0;
  background-color: grey;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 30px 10px 0;
  width: 120px
}

.form-button:hover {
  background-color: #0069d9;
}



.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 300px;
}


.item-icon {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-bottom: 0.5vh;
}

.item-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
	align-content: flex-start;
  margin: 40px 20px;
}

.add-item-button {
  height: 10vh;
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
}



